<div class="item  col-xs-4 col-lg-4">
	<div class="thumbnail">
		<%= image_tag(book.image, class: 'group list-group-image') %>
		<div class="caption">
			<h4 class="group inner list-group-item-heading">
				<%= book.name %></h4>
			<p class="group inner list-group-item-text">
				<%= sanitize(book.description) %></p>
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<p class="lead">
						Rating: <%= book.get_avg_rating %></p>
				</div>
				<div class="col-xs-12 col-md-6">
				  <%= button_to "Rate this book", book_path(book), :class => "btn btn-success", :method => :get  %>
				</div>
			</div>
		</div>
	</div>
</div>
